.content-wrap{
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-left: 50px;
    font-family: 'Gothic A1';
    font-weight: 400;
    font-size: 23px;
    word-break: keep-all;
}

hr {border: 0.7px solid black;
    width: 100%;
    margin-top: 120px;
}
.search-wrap{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.fatandflat-wrap {font-family: 'Montserrat';
    font-weight: 500;}

.search-1, .search-2, .search-3, .search-4 {
    width: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.word img{
    width: auto;
    height: 18px;
    margin-left: 6px;
    cursor: pointer;
}


.fatandflat-wrap{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 80px;
}

.s-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: auto;
    font-weight: 500;
}

    .title{
        min-width: 280px;
    }

    .s-title img{
        max-width: 18px;
        height: 18px;
        cursor: pointer;
    }
    
.fatandflat-img{
    display: flex;
    flex-direction: row;
    gap: 20px;
    overflow: auto;
    
}
.fatandflat-wrap img{
    width: 300px;
    
}


.message-wrap{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-top: 130px;
    padding-bottom: 150px;
}
.message-wrap span{
    font-family: 'Montserrat';
    font-weight: 400;
}

.message-wrap img{
    max-width: 400px;
    max-height: 400px;
    margin-top: 15px;
}

.explain {
    font-size: 17px;
    color:rgb(60, 60, 60);
    margin-top: 15px;
}

.message-content {
    display: flex;
    flex-direction: row;
    gap: 20px;
}


@media screen and (max-width: 600px) {
    .content-wrap{
        padding-top: 2vw;
        padding-left: 2vw;
        font-size: 15px;
    }

    hr {border: 0.7px solid black;
        margin-top: 70px;
    }
    .search-wrap{
        gap: 10px;
    }
    .search-1, .search-2, .search-3, .search-4 {
        width: 100%;
        gap: 10px;
    }
    .word img{
        width: auto;
        height: 15px;
        margin-left: 6px;

    }
    .fatandflat-wrap{
        gap: 20px;
        padding-top: 30px;
    }
    .fatandflat-wrap img{
        width: 100%;
        height: auto;      
    }
    .s-title img{
        max-width: 15px;
        height: 15px;
    }
    .message-wrap{
        gap: 15px;
        padding-top: 50px;
        padding-bottom: 150px;
    }
    .message-wrap img{
        max-width: 100%;
        max-height: 100%;
        margin-top: 5px;
    }
    .explain {
        font-size: 15px;
        margin-top: 10px;
    }
    
    .message-content {
        flex-direction: column;
        gap: 5px;
    }
}
